<div class="jumbotron jumbotron-fluid">
  <figure><img src="assets/image/heart.png" width="60" height="60" class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>

<p class = "Heading2"><b>Exercise Videos</b></p>

<!-- Side navigation -->
<div class="sidenav">
      <p-card header = "Filter Results">
      <h5> Training Type </h5>
          <p-checkbox name="trainingtype" value="Strength Training" label="Strength Training" (click) ="getTrainingType('Strength Training')"> </p-checkbox>
          <br>
          <p-checkbox name="trainingtype" value="HIIT" label="HIIT" (click) ="getTrainingType('HIIT')" > </p-checkbox>
          <br>
          <p-checkbox name="trainingtype" value="Low Impact" label="Low Impact" (click) ="getTrainingType('Low Impact')" > </p-checkbox>
          <br>
          <p-checkbox name="trainingtype" value="Toning" label="Toning" (click) ="getTrainingType('Toning')" > </p-checkbox>
          <br>
          <p-checkbox name="trainingtype" value="Warming/Cooldown" label="Warm up /Cool down" (click) ="getTrainingType('Warming')"> </p-checkbox>
          <br>
          <p-checkbox name="trainingtype" value="Yoga" label="Yoga" (click) ="getTrainingType('Yoga')" ></p-checkbox>
          <br>
          <p-checkbox name="trainingtype" value="Cardiovascular" label="Cardiovascular" (click) ="getTrainingType('Cardiovascular')"> </p-checkbox>
          <br>
          <p-checkbox name="trainingtype" value="Barre" label="Barre" (click) ="getTrainingType('Barre')"> </p-checkbox>
          <br>
          <p-checkbox name="trainingtype" value="Plyometric" label ="Plyometric"(click) ="getTrainingType('Plyometric')"> </p-checkbox>
          <br>
          <p-checkbox name="trainingtype" value="Balance" label="Balance / Agility"  (click) ="getTrainingType('Balance')"> </p-checkbox>
          <br>
          <br>
  
      <h5> Difficulty </h5>
          <p-checkbox name="difficulty" value="1" label="1"   (click) ="getDifficultyLevel('1')"> </p-checkbox>
          <br>
          <p-checkbox name="difficulty" value="2" label="2"  (click) ="getDifficultyLevel('2')"> </p-checkbox>
          <br>
          <p-checkbox name="difficulty" value="3" label="3"   (click) ="getDifficultyLevel('3')"> </p-checkbox>
          <br>
          <p-checkbox name="difficulty" value="4" label="4"   (click) ="getDifficultyLevel('4')"> </p-checkbox>
          <br>
          <p-checkbox name="difficulty" value="5" label="5"   (click) ="getDifficultyLevel('5')"> </p-checkbox>
          <br>
          <br>
  
      <h5> Body Focus </h5>
      
          <p-checkbox name="bodyfocus" value="core" label=" Core "    (click) ="getbodyfocus('Core')"> </p-checkbox>
          <br>
          <p-checkbox name="bodyfocus" value="upper" label=" Upper "  (click) ="getbodyfocus('Upper')"> </p-checkbox>
          <br>
          <p-checkbox name="bodyfocus" value="lower" label=" Lower "  (click) ="getbodyfocus('Lower')"> </p-checkbox>
          <br>
          <p-checkbox name="bodyfocus" value="total" label=" Total " (click) ="getbodyfocus('Total')"> </p-checkbox>
          <br>
          <br>
     
      <!-- Save Button 
      <div class="save-button">
          <p-button label="Save" (click) =""></p-button>
      </div>  
      <br>-->

      <!-- Clear Filters Button   -->     
      <p-button label="Clear Filters" id="searchButton" (click) = "getVideos()"></p-button>
  
  </p-card>
</div>

<button type="button" (click) = "backClicked()" pButton label="Back to all Videos" class = "Back-Button"></button>

<div class="VideoResults">
          <p-card> 
           <h2> {{videoname}} </h2>
               <p *ngIf="videoDetails">Training Type: {{videoDetails?.TrainingType }}</p>
               <br>
               <p *ngIf="videoDetails">Body Focus: {{videoDetails?.BodyFocus }}</p>
               <br>
               <p *ngIf="videoDetails"> Difficulty: {{videoDetails?.Difficulty }}</p>
               <br>
              <iframe *ngIf="videoDetails" width="900" height="507" [src]="videoDetails?.FinalLink | youtube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe> 
          </p-card>
        </div>
