<div class="jumbotron jumbotron-fluid" >
  <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals &nbsp;</h1>
</div>


<div class="Filter-Results">
  <p-card header="Filter Results">

      <font color="grey"><b>Tags</b></font>
      <br/>
      <br/>
      <p-checkbox name="Tags" value="ActiveAging" label="Active Aging"></p-checkbox>
      &nbsp;
      &nbsp;
      <p-checkbox name="Tags" value="CorrectiveExercise" label="Corrective Exercise"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="Tags" value="DiseaseConsiderations" label="Disease Considerations"></p-checkbox>
      &nbsp;
      <p-checkbox name="tags" value="OrthopedicConditions" label="Orthopedic Conditions"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="tags" value="PrePostNatal" label="Pre-Post Natal"></p-checkbox>
      &nbsp;
      &nbsp;
      <p-checkbox name="tags" value="GroupFitness" label="Group Fitness"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="tags" value="DancebasedPrograms" label="Dance-based Programs"></p-checkbox>
      &nbsp;
      <p-checkbox name="tags" value="FunctionalTraining" label="Functional Training"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="tags" value="GroupStrength" label="Group Strength"></p-checkbox>
      &nbsp;
      &nbsp;
      <p-checkbox name="tags" value="WalkingPrograms" label="Walking Programs"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="tags" value="LifestyleMedicine" label="Lifestyle Medicine"></p-checkbox>
      &nbsp;
      <p-checkbox name="tags" value="PilatesMatTraining" label="Pilates (Mat Training)"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="tags" value="yoga" label="Yoga"></p-checkbox>
      &nbsp;
      &nbsp;
      <p-checkbox name="tags" value="nutrition" label="Nutrition"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="tags" value="WeightLossWeightManagement" label="Weight Loss / Weight Management"></p-checkbox>
      &nbsp;
      <p-checkbox name="tags" value="OverweightandObesity" label="Overweight and Obesity"></p-checkbox>



      <font color="grey"><b>Location Radius</b></font>
      <br/>
      <br/>
      <p-checkbox name="locationradius" value="1to3" label="1-3 miles"></p-checkbox>
      &nbsp;
      &nbsp;
      <p-checkbox name="locationradius" value="3to5" label="3-5 miles"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="locationradius" value="5to10" label="5-10 miles"></p-checkbox>
      &nbsp;
      <p-checkbox name="locationradius" value="morethan10" label="10+ miles"></p-checkbox>


  </p-card>
</div>

<div class="Search-Results" style="padding: 1em">
    <p-dataView [value]="instructors_" [loading]="loading" [paginator]="true" [rows]="5" paginatorPosition="both">
        <ng-template pTemplate="listItem" let-instructor>
            <a routeLink="">
                <div id="Search-row" style="padding: 0.1em;border-bottom: 1px solid #d9d9d9; cursor:pointer">
                    <div>
                        <img src="{{instructor.Image_URL}}" height="180" width="190">
                    </div>

                    <div class="Search-Row-Info">
                        <div>
                            <font size="6">
                                {{instructor.Name}}
                            </font>
                        </div>
                        <div>
                            <font size="3">
                                {{instructor.Address}}, {{instructor.Zip}}
                            </font>
                        </div>
                    </div>
                </div>
            </a>
            <!--<img src="{{instructor.Image_URL}}" height="400" width="320">
            <img src="https://acefitnessmediastorage.blob.core.windows.net/acepublicfiles/c83ce4e7-0c1a-48e1-ae46-d1540c3e2231.jpg">-->
        </ng-template>
    </p-dataView>
</div>

