.jumbotron {
    padding-top:2%;
    padding-bottom: 3%;
}
h1 { 
    font-size: 2em;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

p {
    line-height:20px;
    overflow:hidden;
}

.Heading2 {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 260px;
    left: 25px;
    font-size: 25px;
}

.Filter-Results {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    left: 25px;
    top: 325px;
    width: 200px;
}

.Start-Forum-Button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 325px;
    left: 240px;
    width: 200px;
}

.Back-Button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 325px;
    left: 240px;
    width: 200px;
}

.Search-Forum {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 325px;
    left: 452px;
}

.Search-Button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 325px;   
    left: 805px;
}

.Dropdown-Forum {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 325px;
    left: 885px;
}

.Search-Results {
    font-family: 'Quicksand', sans-serif;
    font-weight: 250;
    position: absolute;
    top: 365px;
    left: 240px;
    width: 753px;
    bottom: 100px;
}

.Latest-Forums {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    list-style: none;
    position: absolute;
    top: 325px;
    left: 1015px;
    width: 230px;
}