<div class="jumbotron jumbotron-fluid">
  <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>

<p class = "Heading2"><b>Mental Health Forums: <i>A safe discussion space for anyone who needs it</i></b></p>

<div class="Filter-Results">
  <p-card header="Filter Results" subheader="Mental Health Topics">
    <p-checkbox name="forumtype" value="depression" label="Depression" [(ngModel)]="selectedValues"></p-checkbox>
    <br/>
    <br/>
    <p-checkbox name="forumtype" value="anxiety" label="Anxiety" [(ngModel)]="selectedValues"></p-checkbox>
    <br/>
    <br/>
    <p-checkbox name="forumtype" value="ptsd" label="PTSD" [(ngModel)]="selectedValues"></p-checkbox>
    <br/>
    <br/>
    <p-checkbox name="forumtype" value="phobia" label="Phobia" [(ngModel)]="selectedValues"></p-checkbox>
    <br/>
    <br/>
    <p-checkbox name="forumtype" value="eating disorder" label="Eating Disorder" [(ngModel)]="selectedValues"></p-checkbox>
    <br/>
    <br/>
    <p-checkbox name="forumtype" value="self harm" label="Self Harm" [(ngModel)]="selectedValues"></p-checkbox>
    <br/>
    <br/>
    <p-checkbox name="forumtype" value="lgbtq" label="LGBTQ" [(ngModel)]="selectedValues"></p-checkbox>
    <br/>
    <br/>
    <p-checkbox name="forumtype" value="panic disorder" label="Panic Disorder" [(ngModel)]="selectedValues"></p-checkbox>
    <br/>
    <br/>
    <button type="button" (click) = "filterByTopic(selectedValues)" pButton label="Save"></button>
    <br/>
    <br/>
    <button type="button" (click) = "getForums()" pButton label="Clear Filters"></button>
</p-card>
</div>

<button type="button" (click) = "backClicked()" pButton label="Back to all Forums" class = "Back-Button"></button>


<div class="Search-Results">
      <p-card>
        <h1>{{forumName}}</h1>
        <hr>
        <h6><p *ngIf="forumDetails">{{ forumDetails?.Description }}</p></h6>
        <br>
        <br>
        <h6 ALIGN="RIGHT" *ngIf="forumDetails">Posted by: <b>{{ forumDetails?.Email }}</b></h6>
      </p-card>
      <br>

    <div class = "Reply-Results">
        <p-table [value]="replies">
            <ng-template pTemplate="body" let-reply>
              <p-card>
                <p><b>{{reply.Description}}</b></p>
                <br>
                <h6 ALIGN="RIGHT">Posted by: <b>{{reply.Email}}</b></h6>
              </p-card>
              <br>
            </ng-template>
        </p-table>

        <p-card *ngIf="!loggedIn">
          <h5><b>Please sign in or sign up to reply to this forum!</b></h5>
        </p-card>

          <p-card *ngIf="loggedIn">
            <h5><b>Reply to this forum:</b></h5>
            <textarea autoresize="autoResize" cols="93" pInputTextarea rows="5" [(ngModel)]="NewReply"></textarea>
            <br/>
            <br/>
            <button type="button" (click) = "addNewReply(user.Email, NewReply)" pButton label="Add Reply"></button>
          </p-card>
          <br>
    </div>
</div>