.jumbotron {
    padding-top: 2%;
    padding-bottom: 2%;
}
.container{
    font-family: 'Quicksand', sans-serif;
    font-weight: 250;
    position: absolute;
    top: 380px;
    left: 350px;
    width: 925px;
    bottom: 900px;
    }


.search-container {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 80px;
    left: 5px;
}

.Search-Button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 115px;
    left: 5px;
}

.save-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 300px;
    left: 5px;
}

.save-button1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 500px;
    left: 5px;
}
.Filter-Results {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    background: rgba(238, 238, 238, 0.842);
    left: 20px;
    top: 350px;
    width: 200px;
}

.Filters{
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    left: 20px;
    top: 430px;
    width: 200px;
}


.ClearFilters{
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    left: 80px;
    top: 500px;
    width: 200px;
}

.sidenav{
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    left: 25px;
    top: 325px;
    width: 300px;
}
.Filter-Button1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 170px;
    left: 9px;
}
.Heading2 {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 260px;
    left: 25px;
    font-size: 25px;
}

