<div class="jumbotron jumbotron-fluid">
  <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>
<h2> Weight Watchers </h2>


<div class="sidenav">
  <br>
  <h3><u>Join Group</u> </h3>
  <h5> Name of group you want to join</h5>
  <br>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Type name here" name="search">
      <button type="submit">Join</button>
    </form>
  </div>
  <br>
  <h3><u>Find Group</u> </h3>
  <h5> Filter Results to find best group </h5>
  <br>
  <h5> Training Type </h5>
  <div class="checkbox">
      <label><input type="checkbox" value=""> Cardio </label> 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label><input type="checkbox" value=""> Training </label>
      <br>
      <label><input type="checkbox" value=""> Strength Training </label> &nbsp;&nbsp;&nbsp;
      <label><input type="checkbox" value=""> Yoga </label>
      <br>
      <br>
  </div>
  <h5> Calorie Goal per week </h5>
  <div class="checkbox">
      <label><input type="checkbox" value=""> 1000-2000 </label> 
      &nbsp;&nbsp;
      <label><input type="checkbox" value=""> 3000-5000 </label>
      <br>
      <label><input type="checkbox" value=""> 2000-3000 </label> &nbsp;
      <label><input type="checkbox" value=""> 5000+ </label>
  </div>
  <div class="search-container">
    <form action="/action_page.php">
      <button type="submit">Find</button>
    </form>
  </div>
</div>

<div class = "Search-Results">
  <p-card header="Cardio Crew" > 
    <p style="font-size:120%;">"Rise and Shine, its CARDIO time!"</p>
  </p-card>
</div>
<div class="Table-heading">
    <p-card header="Top 10 Leaderboard" > 
        <figure><img src="assets/images/Leaderboard-1.png" width="600" height="405"  class="mx-auto d-block"></figure>
      </p-card>
</div>
<div class = "Memberlogo">
    <p-card header="Members(28)" > 
        <figure><img src="assets/images/members.png" width="262" height="280"  class="mx-auto d-block"></figure>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit">See All</button>
    </p-card>
  </div>
  
  <div class = "Search-Results1">
      <p-card header="Fitness Fanatics" > 
        <p style="font-size:120%;">"Don't STOP til you DROP"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      </p-card>
  </div>
  <div class="Table-heading1">
      <p-card header="Top 10 Leaderboard" > 
          <figure><img src="assets/images/Leaderboard2.png" width="600" height="405"  class="mx-auto d-block"></figure>
        </p-card>
  </div>
  <div class = "Memberlogo1">
      <p-card header="Members(32)" > 
          <figure><img src="assets/images/members-updated.png" width="262" height="280"  class="mx-auto d-block"></figure>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit">See All</button>
      </p-card>
    </div>
    