<div class="jumbotron jumbotron-fluid">
  <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>

<p class = "Heading2"><b>Weight Watchers</b> </p>

<!--S
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th> GroupNumber </th> 
      <th> NameOfGroup </th>
      <th> TrainingType </th>
      <th> CalorieGoal </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups; index as i">
      <td>{{ group.GroupNumber }}</td>
      <td>{{ group.NameOfGroup }}</td>
      <td>{{ group.TrainingType }}</td>
      <td>{{ group.CalorieGoal }}</td>
    </tr>
  </tbody>
</table>
</div> 
Side Navigation Bar-->
<div class="sidenav">
  <p-card header = "Filter Results">
    <h6>Search For Specific Group</h6>
    
    <div class="search-container">
        <span class ="ui-float-label">
        <input id="float-input" type="text" size="30" pInputTextarea [(ngModel)]="input">
        </span>
    </div>

  <button type="button" (click) = "searchForGroups(input)" pButton label="Search" class = "Search-Button"></button>
      <br>
      <br>
      <br>
      <br>
      <h6>Training Type:</h6>
      <p-checkbox name="TrainingType" value="Cardio" label="Cardio" [(ngModel)]="selectedValues"></p-checkbox>
      <br>
    
      <p-checkbox name="TrainingType" value="Yoga" label="Yoga" [(ngModel)]="selectedValues"></p-checkbox>
      <br>
      <p-checkbox name="TrainingType" value="Toning" label="Toning" [(ngModel)]="selectedValues"></p-checkbox>
      <br>
      <p-checkbox name="TrainingType" value="Strength Training" label="Strength Training" [(ngModel)]="selectedValues"></p-checkbox>
      <br>
      <br>

      <div class="Filter-results">
          <br>
          <br>
      <h6>Calorie Goals</h6>
      <p-checkbox name="CalorieGoals" value="500-1000" label="500-1000" [(ngModel)]="selectedCalories"></p-checkbox>
      <br>
      <p-checkbox name="CalorieGoals" value="1000-2000" label="1000-2000" [(ngModel)]="selectedCalories"></p-checkbox>
      <br>
      <p-checkbox name="CalorieGoals" value="2000-3000" label="2000-3000" [(ngModel)]="selectedCalories"></p-checkbox>
      <br>
      <p-checkbox name="CalorieGoals" value="3000+" label="3000+" [(ngModel)]="selectedCalories"></p-checkbox>
      </div>

      <!-- Save Button -->
      <div class="save-button">
      <p-button label="Save" (click) = "filterexercise(selectedValues)"></p-button>
      </div>
      <br>

      <div class="save-button1">
          <p-button label="Save" (click) = "filtercalories(selectedCalories)"></p-button>
          </div>
          <br>
          <br>
          <div class="ClearFilters">
      <p-button label="Clear Filters" id="searchButton" (click) = "getGroupInfo()"></p-button>
          </div>
          <br>
  </p-card>
</div>

<!-- RESULTS-->
<div class="container"> 
  <p-carousel [value]="groups">
      <ng-template pTemplate ="body" let-group>
          <!-- IMAGE DISPLAY HERE -->
           <a routerLink="/weight-watchers/{{group.NameOfGroup}}">
           <img src="{{group.Images}}" height="200" width="200" class="center"> 
           <br>
           <h5 style="text-align:center">{{group.NameOfGroup}}</h5>
           </a> 
      </ng-template>
  </p-carousel>
</div>
