<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>



<div class="jumbotron jumbotron-fluid">
  <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>


<div>
  <h3>Personalized Meal Plan</h3>
</div>
<div>
  <!--<div class="Search-Button">
    <p-button label="Search" id="searchButton" (click)="mealPlanQuery(mealQuery)" style="display: none;"></p-button>
  </div>-->
  <div class = "breakfast">
  <p-dataView [value]="searchbResults" [loading]="loading">
    <ng-template let-res pTemplate="listItem">
      <div id="Search-row1" style="padding: 0.1em;border-bottom: 1px solid #d9d9d9">
        <div>
          <div>
            <font color="grey"><b>BREAKFAST: {{ res.brecipeName }}</b></font>
          </div>
          <div>
            <a href="{{ res.barticleURL }}">
              <img src="{{ res.bimageURL }}" height="180" width="220">
            </a>
          </div>
        </div>
        <div class="Search-Row-Info">
          <div>
            <font size="1.6">
              <font color="grey"><b>Calories/Serving: </b></font> {{ res.bcalories }} &nbsp;
              <font color="grey"><b>Daily %: </b></font> {{ res.btotalDaily }} &nbsp;
              <font color="grey"><b>Servings: </b></font> {{ res.bservings }}

            </font>
          </div>
          <div>
            <font size="1.6">
              <font color="grey"><b>Diet Labels: </b></font> {{ res.bdietLabels }}
            </font>
          </div>
          <div>
            <font size="1.6">
              <font color="grey"><b>Health Labels: </b></font> {{ res.bhealthLabels }}
            </font>
          </div>
          <div>
            <font size="1.6">
              <font color="grey"><b>Ingredients: </b></font> {{ res.bingredients }}
            </font>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView></div>
<div class="lunch">
  <p-dataView [value]="searchlResults" [loading]="loading">
    <ng-template let-res pTemplate="listItem">
      <div id="Search-row2" style="padding: 0.1em;border-bottom: 1px solid #d9d9d9">
        <div>
          <div>
            <font color="grey"><b>LUNCH: {{ res.lrecipeName }}</b></font>
          </div>
          <div>
            <a href="{{ res.larticleURL }}">
              <img src="{{ res.limageURL }}" height="180" width="220">
            </a>
          </div>
        </div>

        <div class="Search-Row-Info">
          <div>
            <font size="1.6">
              <font color="grey"><b>Calories/Serving: </b></font> {{ res.lcalories }} &nbsp;
              <font color="grey"><b>Daily %: </b></font> {{ res.ltotalDaily }} &nbsp;
              <font color="grey"><b>Servings: </b></font> {{ res.lservings }}

            </font>
          </div>
          <div>
            <font size="1.6">
              <font color="grey"><b>Diet Labels: </b></font> {{ res.ldietLabels }}
            </font>
          </div>
          <div>
            <font size="1.6">
              <font color="grey"><b>Health Labels: </b></font> {{ res.lhealthLabels }}
            </font>
          </div>
          <div>
            <font size="1.6">
              <font color="grey"><b>Ingredients: </b></font> {{ res.lingredients }}
            </font>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
  <div class = "dinner">
 <p-dataView [value]="searchdResults" [loading]="loading">
    <ng-template let-res pTemplate="listItem">
      <div id="Search-row" style="padding: 0.1em;border-bottom: 1px solid #d9d9d9">
        <div>
          <div>
            <font color="grey"><b>DINNER: {{ res.drecipeName }}</b></font>
          </div>
          <div>
            <a href="{{ res.darticleURL }}">
              <img src="{{ res.dimageURL }}" height="180" width="220">
            </a>
          </div>
        </div>

        <div class="Search-Row-Info">
          <div>
            <font size="1.6">
              <font color="grey"><b>Calories/Serving: </b></font> {{ res.dcalories }} &nbsp;
              <font color="grey"><b>Daily %: </b></font> {{ res.dtotalDaily }} &nbsp;
              <font color="grey"><b>Servings: </b></font> {{ res.dservings }}

            </font>
          </div>
          <div>
            <font size="1.6">
              <font color="grey"><b>Diet Labels: </b></font> {{ res.ddietLabels }}
            </font>
          </div>
          <div>
            <font size="1.6">
              <font color="grey"><b>Health Labels: </b></font> {{ res.dhealthLabels }}
            </font>
          </div>
          <div>
            <font size="1.6">
              <font color="grey"><b>Ingredients: </b></font> {{ res.dingredients }}
            </font>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView></div>
</div>
<!--Workout Links-->



</body>
</html>
