.jumbotron {
    padding-top:2%;
    padding-bottom: 3%;
}

.Heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}
.sidenav {
    width: 300px;
    background: #eee;
    padding: 8px 8px;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

.header3{
    background-color: whitesmoke;
    position: absolute;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    top: 280px;
    left: 320px;
}
.meal1{
    color: white;
    position:absolute;
    top: 330px;
    left: 20px;
}

.meal1{
    color:WHITE;
    position: absolute;
    top: 530px;
    left: 20px;
}
.meal1{
    color:WHITE;
    position: absolute;
    top: 730px;
    left: 20px;
}
