.Filter-Results {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 200px;
    width: 200px;
}

.jumbotron {
    padding-top: 2%;
    padding-bottom: 2%;
}

.Search-Bar {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 200px;
    left: 215px;
}

.Search-Button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 200px;
    left: 735px;
}

.Search-Results {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 245px;
    left: 215px;
    width: 700px;
}

.Search-Results li {
    cursor: pointer;
    position: relative;
    left: 215px;
    background-color: #EEE;
    margin: .5em;

}

.Search-Results li.selected:hover{
    background-color: #BBD8DC !important;
    color: white;
}

.Search-Results li:hover{
    color: #607D8B;
    background-color: #DDD;
    left: 215px;
}

.Search-Results .text{
    position: relative;
    top: -3px;
}


.Search-Row-Info {
    position: relative;
    left: 235px;
    top: -185px;
    min-height: 180px;
    margin-bottom: -150px;
    margin-right: 235px;
}
