<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to HealthGoals</h1>
        <p class="lead">This site will be developed by 332:452 Group 1.</p>
        <hr class="my-4">
        <p>Group Members: Anushka Desai, Varun Bhandari, Niharika Mishra, Sai Singanamala, Arti Patel, Kishan Patel, Jose Cuentas, Eric Rivera, Varun Raghuraman
        </p>
    </div>
</div> 
<html>
<body>
<div class="circle-set">
  <a href=""><figure class="circle circle-1"></figure></a>
  <figure class="circle circle-2"></figure>
  <figure class="circle circle-3"></figure>
  <figure class="circle circle-4"></figure>
  <figure class="circle circle-5"></figure>
  <figure class="circle circle-6"></figure>
  <figure class="circle circle-7"></figure>
  <figure class="circle circle-8"></figure>
</div>
</body>
</html>
<!-- <body>

<a class="exercisevid" href="google.com" title="exercisevid" id="exercisevid">photo</a>
<div class = "weightwatchers"></div>
<div class = "forums"></div>

<div class = "foodrecipes"></div>
<div class = "foodblogs"></div>
</body> -->


