<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to HealthGoals</h1>
        <p class="lead">This site will be developed by 332:452 Group 1.</p>
        <hr class="my-4">
        <p>Group Members: Anushka Desai, Varun Bhandari, Niharika Mishra, Sai Singanamala, Arti Patel, Kishan Patel, Jose Cuentas, Eric Rivera, Varun Raghuraman
        </p>
        <p class="lead">
    </div>
</div>

<div class = "exercisevid" alt ="Exercise Video"></div>
<div class = "weightwatchers"></div>
<div class = "foodrecipes"></div>
<div class = "foodblogs"></div>