.circle-set {
    color: WHITE;
    background: rgb(255, 255, 255);
    background-size: cover;
    position: relative;
    border-radius: 15px;
    font:  Helvetica ;
  }
  .circle {
    height: 200px;
    position: absolute;
    width: 200px;
  }
  .circle-1 {
    background-image: url(images/exercisevid.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    top: 0;
    left: 10px;
  }
  .circle-2 {
    background-image: url(images/weight_watchers.png);
    background-repeat: no-repeat;
    background-size: 200px;
    top: 150px;
    left: 150px;
  }
  .circle-3 {
    background-image: url(images/foodblogs.png);
    background-repeat: no-repeat;
    background-size: 200px;
    top: 300px;
    left: 10px;
  }
  .circle-4 {
    background-image: url(images/food_recipes.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    top: 450px;
    left: 150px;
  }

  .circle-5 {
    background-image: url(images/instructors.png);
    background-repeat: no-repeat;
    background-size: 200px;
    top: 0;
    right: 10px;
  }

  .circle-6 {
    background-image: url(images/therapist.png);
    background-repeat: no-repeat;
    background-size: 200px;
    top: 150px;
    right: 150px;
  }

  .circle-7 {
    background-image: url(images/forums.png);
    background-repeat: no-repeat;
    background-size: 200px;
    top: 300px;
    right: 10px;
  }

  .circle-8 {
    background-image: url(images/articles.png);
    background-repeat: no-repeat;
    background-size: 200px;
    top: 450px;
    right: 150px;
  }


