<div class="jumbotron jumbotron-fluid">
    <br>
    <h1 style="text-align:center" class="display-6">Welcome to Health Goals!</h1>
    <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
</div>
<html>

<body>
    <div class="circle-set">
        <a href="exercise-videos">
            <figure class="circle circle-exercise-videos"></figure>
        </a>
        <a href="weight-watchers">
            <figure class="circle circle-weight-watchers"></figure>
        </a>
        <!-- <a href="food-blogs"> -->
            <figure class="circle circle-food-blogs"></figure>
        <!-- </a> -->
        <a href="food-recipes">
            <figure class="circle circle-food-recipes"></figure>

        </a>
        <!-- <a href="fitness-instructors"> -->
            <figure class="circle circle-fitness-instructors"></figure>

        <!-- </a> -->
        <a href="find-therapist">
            <figure class="circle circle-find-therapist"></figure>

        </a>
        <a href="mh-forums">
            <figure class="circle circle-mh-forums"></figure>

        </a>
        <a href="mh-articles">
            <figure class="circle circle-mh-articles"></figure>
        </a>
    </div>
    <br>
    <br>
    <div class="SignInBox" *ngIf="!loggedIn">
            <h2 style="text-align:center" class="display-4">Sign In</h2>
            <br><br>
            <span class="ui-float-label">
                <input type="email" class="form-control" placeholder="Email" pInputText [(ngModel)]="email">
                <br>
                <input type="password" class="form-control" placeholder="Password" pInputText [(ngModel)]="password">
            <br><br>
            <div style="text-align: center"> 
                    <button type="button" (click) = "get_login(email,password)" pButton label="Log In"></button>
                    <br><br>
            </div>
            </span>
            <br><br><br>
            <div style="text-align: center">
                <span class="psw">Don't have an account? <a href="sign-up">Sign Up!</a></span> <br>
                <span class = "psw"> Guests: View a Sample Meal Plan <a href="meal-plan"> Here! </a></span>
            </div>         
    </div>
    <div class="SignInBox" *ngIf="loggedIn">
        <h2 style="text-align:center" class="display-4">Welcome <br> {{user.FirstName}} </h2>
        <br><br><br>
        <div style="text-align: center">
        <button type="btn-primary" (click) = "logout()" pButton label="Log Out"></button>
        </div>

    </div>
    
</body>

</html>