<div class="jumbotron jumbotron-fluid">
    <br>
    <h1 style="text-align:center" class="display-6">Welcome to Health Goals!</h1>
    <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
</div>
<html>

<body>
    <div class="circle-set">
        <a href="exercise-videos">
            <figure class="circle circle-exercise-videos"></figure>
        </a>
        <a href="weight-watchers">
            <figure class="circle circle-weight-watchers"></figure>
        </a>
        <!-- <a href="food-blogs"> -->
            <figure class="circle circle-food-blogs"></figure>
        <!-- </a> -->
        <a href="food-recipes">
            <figure class="circle circle-food-recipes"></figure>

        </a>
        <!-- <a href="fitness-instructors"> -->
            <figure class="circle circle-fitness-instructors"></figure>

        <!-- </a> -->
        <a href="find-therapist">
            <figure class="circle circle-find-therapist"></figure>

        </a>
        <a href="mh-forums">
            <figure class="circle circle-mh-forums"></figure>

        </a>
        <a href="mh-articles">
            <figure class="circle circle-mh-articles"></figure>
        </a>
    </div>
    <br>
    <br>
    <div class="SignInBox">
            <h2 style="text-align:center" class="display-4">Sign In</h2>
            <br><br>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address:</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password:</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div><br>
            </form>
            <div style="text-align: center"> 
                    <button type="submit" class="btn btn-primary">Log In</button><br><br>
                    <span class="psw">Don't have an account? <a href="sign-up">Sign Up!</a></span> <br>
                    <span class = "psw"> Guests: View a Sample Meal Plan <a href="meal-plan"> Here! </a></span>
            </div>
    </div>
</body>

</html>