.jumbotron {
    padding-top:2%;
    padding-bottom: 3%;
}

<<<<<<< HEAD
.VideoResults{
    font-family: 'Quicksand', sans-serif;
    font-weight: 250;
    position: absolute;
    top: 380px;
    left: 350px;
    width: 925px;
    bottom: 100px;
}

=======
>>>>>>> bd05f5d9ded14aaf4747e08d3596095fb0fc9698
.sidenav {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    left: 25px;
    top: 325px;
    width: 300px;
}
h1 { 
    font-size: 2em;
    font-weight: bold;
}

h2 {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
}

.Heading2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    position: absolute;
    left: 25px;
    top: 260px;
}

.searchbar{
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
<<<<<<< HEAD
    top: 325px;
    left: 350px;
}

.search-button{
    position: absolute;
    top: 325px;
    left: 940px;
=======
    top: 318px;
    left: 320px;
>>>>>>> bd05f5d9ded14aaf4747e08d3596095fb0fc9698
}

.new-button{
    position: absolute;
<<<<<<< HEAD
    top: 325px;
    left: 1035px;
=======
    top: 318px;
    left: 1015px;
>>>>>>> bd05f5d9ded14aaf4747e08d3596095fb0fc9698
}

.page-button{
    position: absolute;
<<<<<<< HEAD
    top: 325px;
    left: 1165px;
=======
    top: 318px;
    left: 1130px;
>>>>>>> bd05f5d9ded14aaf4747e08d3596095fb0fc9698
}

.workout-set1{
    color: white;
    position: absolute;
    top: 380px;
    left: 320px;
}

.workout-set2{
    color:WHITE;
    position: absolute;
    top: 380px;
    left: 650px;
}
.workout-set3{
    color:WHITE;
    position: absolute;
    top: 380px;
    left: 980px;
}