<div class="jumbotron jumbotron-fluid">
   <div class ="container">
    <img src="assets/image/heart.png" width="60" height="60" class="mx-auto d-block">
    <h2 style="text-align:center" class="Heading">Health Goals</h2>
</div>
</div>
<h2> Exercise Videos </h2>

<!-- Side navigation -->
<div class="sidenav">
    <br>
    <h3> Filter Results</h3>
    <br>
    <h5> Training Type </h5>
    <div class="checkbox">
        <label><input type="checkbox" value="cardio"> Cardio </label>
        <br>
        <label><input type="checkbox" value="crossfit"> Cross Fit </label>
        <br>
        <label><input type="checkbox" value="weightlifting"> Weight Lifting </label>
        <br>
        <label><input type="checkbox" value="intervalTraining"> Interval Training </label>
        <br>
        <label><input type="checkbox" value="highintensity"> High Intensity Training </label>
        <br>
        <label><input type="checkbox" value="yoga"> Yoga </label>
        <br>
        <label><input type="checkbox" value="strength"> Strength Training </label>
        <br>
        <br>
    </div>

    <h5> Difficulty </h5>
    <div class="checkbox">
        <label><input type="checkbox" value="0"> 0 </label>
        <br>
        <label><input type="checkbox" value="1"> 1 </label>
        <br>
        <label><input type="checkbox" value="2"> 2 </label>
        <br>
        <label><input type="checkbox" value="3"> 3 </label>
        <br>
        <label><input type="checkbox" value="4"> 4 </label>
        <br>
        <label><input type="checkbox" value="5"> 5 </label>
        <br>
    </div>

    <!-- Save Button -->
    <div class="save-button">
        <p-button label="Save" id="searchButton"></p-button>
    </div>

    <!-- Search Bar -->
    <div class="searchbar">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="75" > 
          <label for="float-input">Search For Exercise Videos</label>
      </span>
    </div>

    <!-- Newest First Button -->
    <div class="new-button">
        <p-button label="Newest First" id="searchButton"></p-button>
    </div>

    <!-- Page Number Button -->
    <div class="page-button">
        <p-button label="Page 1 of 10" id="searchButton"></p-button>
    </div>

    <!--Workout Links-->
    <div class="workout-set1">
        <a href="https://www.fitnessblender.com/videos/easy-pilates-and-cardio-workout-with-relaxing-cool-down-active-recovery-workout">
            <figure> <img src="assets/image/workout1.PNG" width="320" height="440" style="border:0.5px solid gray"></figure>
        </a>
    </div>

    <div class="workout-set2">
        <a href="https://www.fitnessblender.com/videos/30-minute-lower-body-hiit-and-upper-body-strength-total-body-workout-combo">
            <figure> <img src="assets/image/workout2.PNG" width="320" height="440" style="border:0.5px solid gray"></figure>
        </a>
    </div>

    <div class="workout-set3">
        <a href="https://www.fitnessblender.com/videos/fitness-blender-15-minute-abs-workout-at-home-core-training-without-equipment">
            <figure> <img src="assets/image/workout4.PNG" width="320" height="440" style="border:0.5px solid gray"></figure>
        </a>

    </div>