<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 align= "center" class="display-4">Health Goals Logo</h1>
  </div>
</div>
<h2> Exercise Videos </h2>

<!-- Side navigation -->
<div class="sidenav">
    <br>
    <h3> Filter Results</h3>
    <br>
    <h5> Training Type </h5>
      <div class="checkbox">
      <label><input type="checkbox" value=""> Cardio </label>
      <br>
      <label><input type="checkbox" value=""> Cross Fit </label>
      <br>
      <label><input type="checkbox" value=""> Weight Lifting </label>
      <br>
      <label><input type="checkbox" value=""> Interval Training </label>
      <br>
      <label><input type="checkbox" value=""> High Intensity Training </label>
      <br>
      <label><input type="checkbox" value=""> Yoga </label>
      <br>
      <label><input type="checkbox" value=""> Strength Training </label>
      <br> 
      <br>
      </div>
    <h5> Difficulty </h5>
    <div class="checkbox">
        <label><input type="checkbox" value=""> 0 </label>
        <br>
        <label><input type="checkbox" value=""> 1 </label>
        <br>
        <label><input type="checkbox" value=""> 2 </label>
        <br>
        <label><input type="checkbox" value=""> 3 </label>
        <br> 
        <label><input type="checkbox" value=""> 4 </label>
        <br> 
        <label><input type="checkbox" value=""> 5 </label>
        <br> 
     </div>

<!-- Save Button -->
<div class="save-button">
  <p-button label="Save" id="searchButton"></p-button>
</div>

<!-- Search Bar -->
     <div class="searchbar">
      <span class="ui-float-label">
          <input id="float-input" type="text" size="40" [(ngModel)]="exerciseQuery"> 
          <label *ngIf="exerciseQuery == null" for="float-input">Search For Exercise Videos</label>
      </span>
     </div>

<!-- Search Button -->
  <div class="search-button">
    <p-button label="Search" id="searchButton" (click)="exerciseQuery(videoQuery)"></p-button>
  </div>

<!-- Search Results-->
