.container{
    right: 200px;
    background-size: 100px;
}
.sidenav {
    width: 300px;
    background: #eee;
    padding: 8px 8px;
}
h1 { 
    font-size: 2em;
    font-weight: bold;
}

h2 {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
}

.searchbar{
    position: absolute;
    top: 323px;
    left: 300px;
}

.search-button{
    position: absolute;
    top: 321px;
    left: 680px;
}
