.jumbotron {
    padding-top:2%;
    padding-bottom: 3%;
}
h1 { 
    font-size: 2em;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.SignUpBox{
    background-color: rgb(236, 236, 236);
    margin: auto;
    margin-bottom: 4%;
    width: 60%;
    height: 700px;
    padding: 50px;
}

.leftside{
    width: 25%;
    float: left;
}

.rightside{
    width: 70%;
    float: right;
}