<div class="jumbotron jumbotron-fluid">
  <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>

<br/>
<h2 style="text-align:center" class="display-4">Sign Up</h2>
<div class="SignUpBox">
    <div class="leftside">
      <br><br>
    <figure class="icon"></figure>
    <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01"> Add Photo</label>
        </div>
      </div>
    </div>

    <div class="rightside">
      <form>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFirst">First Name: </label>
                  <input type="text" class="form-control" id="inputFirst" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLast">Last Name: </label>
                  <input type="text" class="form-control" id="inputLast" placeholder="Last Name">
                </div>
            </div>
        </form>
        
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email Address: </label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email Address">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password: </label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>

            <div class="form-group">
              <label for="inputGoals">Health Goals: </label>
              <input type="text" class="form-control" id="inputGoals" placeholder="Weight loss, get toned, healthy diet, etc...
              ">
            </div>

            <label for="scrolllist">Dietary Restrictions: </label>
            <select class="custom-select" multiple id="scrolllist" size="3">
                <option selected>None</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </form>
      </form>
      <br>
    </div>
    
    <div class="input-group" id="desc">
        <textarea class="form-control" placeholder="Describe yourself here..."></textarea>
    </div>

    <div style="text-align: center"><br>
      <button type="submit" class="btn btn-primary">Sign Up!</button>
    </div>
</div>