<div class="jumbotron jumbotron-fluid">
    <br>
    <h1 style="text-align:center" class="display-6">Welcome to Health Goals!</h1>
    <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
</div>
<html>
<br/>
<div class="SignUpBox">
        <h2 style="text-align:center" font="Arial">Sign Up</h2>
        <small>First Name:</small>
        <input type="text" class="form-control" placeholder="FirstName" pInputText [(ngModel)]="FirstName" required>
        <br>
        <small>Last Name:</small>
        <input type="text" class="form-control" placeholder="LastName" pInputText [(ngModel)]="LastName">
        <br>
        <small>Email Address:</small>
        <input type="email" class="form-control" placeholder="Email" pInputText [(ngModel)]="Email">
        <br>
        <small>Password:</small>
        <input type="password" class="form-control" placeholder="Password" pInputText [(ngModel)]="Password">
        <br>
        <small>Health Goals:</small>
        <select class="custom-select" multiple id="scrolllist" size="2" [(ngModel)]="Goals">
            <option selected>None</option>
            <option value="Lose Weight">Lose Weight</option>
            <option value="Gain Weight">Gain Weight</option>
            <option value="Gain Muscles">Gain Muscles</option>
        </select>
        <br><br>
        <small>Diet:</small>
        <select class="custom-select" multiple id="scrolllist" size="2" [(ngModel)]="Diet">
            <option selected>None</option>
            <option value="balanced">Balanced</option>
            <option value="high-protein">High Protein</option>
            <option value="low-fat">Low Fat</option>
            <option value="low-carb">Low Carb</option>
        </select>
        <br><br>
        <small>Restrictions:</small>
        <select class="custom-select" multiple id="scrolllist" size="2" [(ngModel)]="Restrictions">
            <option selected>None</option>
            <option value="vegan">Vegan</option>
            <option value="vegetarian">Vegetarian</option>
            <option value="low-sugar">Sugar Conscious</option>
            <option value="peanut-free">Peanut Free</option>
            <option value="tree-nut-free">Tree Nut Free</option>
        </select>
        <br>
        <br>
        <small>Description:</small>
        <textarea class="form-control" [(ngModel)]="Description" placeholder="Describe yourself here..."></textarea>
        <br>
        <div style="text-align: center">
          <button type="button" (click) = "sign_up(FirstName, LastName, Email, Password, Description, Goals, Diet, Restrictions)" pButton label="Sign Up!" routerLink="/welcome"></button>
        </div>
    <br><br>
</div>
</html>
