.jumbotron {
    padding-top:2%;
    padding-bottom: 3%;
}
h1 { 
    font-size: 2em;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.Heading2 {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 260px;
    left: 25px;
    font-size: 25px;
}

.Filter-Results {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    left: 25px;
    top: 325px;
    width: 200px;
}

.Start-Forum-Button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 325px;
    left: 240px;
    width: 200px;
}

.Search-Forum {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 325px;
    left: 450px;
}

.Search-Button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 325px;   
    left: 760px;
}

.Dropdown-Forum {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 325px;
    left: 835px;
}

.Search-Results {
    font-family: 'Quicksand', sans-serif;
    font-weight: 250;
    position: absolute;
    top: 365px;
    left: 240px;
    width: 700px;
    bottom: 100px;
}

.Active-Forums {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    list-style: none;
    position: absolute;
    top: 325px;
    left: 955px;
    width: 300px;
}