<div class="jumbotron jumbotron-fluid">
    <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
    <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>

<p class = "Heading2"><b>Mental Health Forums: <i>A safe discussion space for anyone who needs it</i></b></p>

<div class="Filter-Results">
    <p-card header="Filter Results" subheader="Mental Health Topics">
      <p-checkbox name="forumtype" value="depression" label="Depression" [(ngModel)]="selectedValues"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="forumtype" value="anxiety" label="Anxiety" [(ngModel)]="selectedValues"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="forumtype" value="ptsd" label="PTSD" [(ngModel)]="selectedValues"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="forumtype" value="phobia" label="Phobia" [(ngModel)]="selectedValues"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="forumtype" value="eating disorder" label="Eating Disorder" [(ngModel)]="selectedValues"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="forumtype" value="self harm" label="Self Harm" [(ngModel)]="selectedValues"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="forumtype" value="lgbtq" label="LGBTQ" [(ngModel)]="selectedValues"></p-checkbox>
      <br/>
      <br/>
      <p-checkbox name="forumtype" value="panic disorder" label="Panic Disorder" [(ngModel)]="selectedValues"></p-checkbox>
      <br/>
      <br/>
      <button type="button" (click) = "filterByTopic(selectedValues)" pButton label="Save"></button>
      <br/>
      <br/>
      <button type="button" (click) = "getForums()" pButton label="Clear Filters"></button>
  </p-card>
</div>

  <button type="button" routerLink = "/mh-start" pButton label="Start a Forum" class = "Start-Forum-Button" *ngIf="loggedIn"></button>

  <button type="button" (click) = "SignInToStartForum()" pButton label="Start a Forum" class = "Start-Forum-Button" *ngIf="!loggedIn"></button>

<div class="Search-Forum">
  <span class="ui-float-label">
      <input id="float-input" type="text" size="55" pInputTextarea [(ngModel)]="input"> 
  </span>
</div>

<button type="button" (click) = "searchForForums(input)" pButton label="Search" class = "Search-Button"></button>

<br/>
<br/>

<div class="Search-Results">
  <p-table [value]="forums" [paginator]="true" [rows]="5">
    <ng-template pTemplate="body" let-forum>
      <p-card>
          <a routerLink = "/mh-forums/{{ forum.NameOfForum }}"><h2>{{forum.NameOfForum}}</h2></a>
        <hr>
        <p><b>{{forum.Description}}</b></p>
        <br>
        <b><a routerLink = "/mh-forums/{{ forum.NameOfForum }}">Read More</a></b>
        <br>
        <br>
        <h6 ALIGN="RIGHT">Posted by: <b>{{forum.Email}}</b></h6>
      </p-card>
      <br>
    </ng-template>
  </p-table>
  <br>
</div>

<div class="Latest-Forums">
  <h2>Latest Forums</h2>
    <p-table [value]="latestForums">
        <ng-template pTemplate="body" let-latestForum>
          <p-card>
            <a routerLink = "/mh-forums/{{ latestForum.NameOfForum }}"><b>{{ latestForum.ForumNumber }}.</b> {{ latestForum.NameOfForum }}</a>
          </p-card>
        </ng-template>
    </p-table>
</div>

<!--

<div class="Latest-Forums">
  <h2>Latest Forums</h2>
    <p-table [value]="latestForums">
        <ng-template pTemplate="body" let-latestForum>
          <tr>
            <a routerLink = "/mh-forums/{{ latestForum.NameOfForum }}"><b>{{ latestForum.ForumNumber }}.</b> {{ latestForum.NameOfForum }}</a>
          </tr>
        </ng-template>
    </p-table>
</div>

-->