<div class="jumbotron jumbotron-fluid">
  <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>


<div class="Filter-Results">
<p-card header="Filter Results" subheader="Type">
    &nbsp;
    <p-checkbox name="symptoms" value="depression" label="Depression"(click)="filterByTopic('Depression')"></p-checkbox>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="symptoms" value="suicidalthoughts" label="Suicidal Thoughts"(click)="filterByTopic('Suicidal Thoughts')"></p-checkbox>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="symptoms" value="other" label="Other"(click)="filterByTopic('Other')"></p-checkbox>
    <br/>
    <br/>
    
    <font color="grey"><b>Article Type</b></font>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="duration" value="scholarly" label="Scholarly"(click)="filterByType('Scholarly')"></p-checkbox>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="duration" value="opinion" label="Opinion"(click)="filterByType('Opinion')"></p-checkbox>
    <br/>
    <br/>
    <font color="grey"><b>Article Age</b></font>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="age" value="old" label="2000"(click)="filterByLess('1990')"></p-checkbox>
    &nbsp;
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="age" value="3to5" label="2000-2010"(click)="filterByYear('2005')"></p-checkbox>
    &nbsp;
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="age" value="5to10" label=">2010"(click)="filterByGreat('3000')"></p-checkbox>
    &nbsp;
    <br/>
    <br/>
    <p-button label="Clear Filters" id="searchButton" (click) = "getArticles()"></p-button>

</p-card>
</div>

<div class="Search-Bar">
        <span class="ui-float-label">
                <input id="float-input" type="text" size="75" pInputTextArea [(ngModel)] = "input" (keyup.enter) = "searchArticles(input)"> 
        </span>
</div>



<div class="Search-Results">

    <p-table [value]="articles" [paginator]="true" [rows]="5">
    <ng-template pTemplate="body" let-article>
      <p-card>
          <a href="{{article.Link}}"><h2>{{article.ArticleName}}</h2></a>
        <hr>
        <p><b>{{article.Author}}</b></p>
        <p><b>{{article.ArticleType}}</b></p>
        <p><b>{{article.Year}}</b></p>
      </p-card>
      <br>
    </ng-template>
  </p-table>
  <br>


</div>

<div class="Latest-Articles">

        <p-table [value]="articles" [paginator]="true" [rows]="5">
        <ng-template pTemplate="body" let-article>
          <p-card>
              <a href="{{article.Link}};getRecent(user.ID,article.Link)">{{article.ArticleName}}</a>
            <p><b>{{input}}</b></p>
           
          </p-card>
          <br>
        </ng-template>
      </p-table>
      <br>
    
    
    </div>
