<div class="jumbotron jumbotron-fluid">
  <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>


<div class="Filter-Results">
<p-card header="Filter Results" subheader="Type">
    &nbsp;
    <p-checkbox name="symptoms" value="therapist" label="General Symptoms"></p-checkbox>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="symptoms" value="depression" label="Depression"></p-checkbox>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="symptoms" value="suicidalthoughts" label="Suicidal Thoughts"></p-checkbox>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="symptoms" value="other" label="Other"></p-checkbox>
    <br/>
    <br/>
    
    <font color="grey"><b>Article Type</b></font>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="duration" value="scholarly" label="Scholarly"></p-checkbox>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="duration" value="opinion" label="Opinion"></p-checkbox>
    <br/>
    <br/>
    <font color="grey"><b>Article Age</b></font>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="age" value="old" label="<2000"></p-checkbox>
    &nbsp;
    &nbsp;
    <p-checkbox name="age" value="3to5" label="2000-2010"></p-checkbox>
    <br/>
    <br/>
    &nbsp;
    <p-checkbox name="age" value="5to10" label=">2010"></p-checkbox>
    &nbsp;
</p-card>
</div>

<div class="Search-Bar">
<span class="ui-float-label">
    <input id="float-input" type="text" size="83"> 
    <label for="float-input">Search For Service</label>
</span>
</div>

<div class="Search-Button">
<p-button label="Search" id="searchButton" style="display: none;"></p-button>
</div>

<div class="Search-Results">
    

</div>
