<div class="jumbotron jumbotron-fluid">
  <figure><img src="assets/image/heart.png" width="60" height="60"  class="mx-auto d-block"></figure>
  <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>
<html>

<html>
    <body>

        <div style="text-align: center"> 
         
        <div class="row" >
          <div class="column left" style="text-align: center">
            <h2>Groups Joined</h2>
            <table class="table" *ngIf="!isNull">
                <thead>
                  <tr> 
                    <th scope="col">Group <br> Name</th>
                    <th scope="col">Training Type</th>
                    <th scope="col">Calorie Goal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{groupInfo.NameOfGroup}}</th>
                    <td>{{groupInfo.TrainingType}}</td>
                    <td>{{groupInfo.CalorieGoal}}</td>
                  </tr>
                </tbody>
            </table>
              <br>
              <h2>Group Goals</h2>
              <table class="table" *ngIf="!isNull">
                  <thead>
                    <tr> 
                      <th scope="col">Group Name</th>
                      <th scope="col">Rank</th>
                      <th scope="col">Goal Reached</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">{{groupMemberInfo.NameOfGroup}}</th>
                      <td>{{groupMemberInfo.Rank}}</td>
                      <td>{{groupMemberInfo.GoalReached}}</td>
                    </tr>
                  </tbody>
                </table>
          </div>

          <div class="column middle" style="text-align: center">
            <h2>About {{user.FirstName}}</h2>
              <img src="icon.png" width="200" height="200">
              <br>
              <i>"{{user.Description}}"</i>
              <br>
              <small><b>Name:</b> {{user.FirstName}} {{user.LastName}}</small>
              <br>
              <small><b>E-mail:</b> {{user.Email}}</small>
              <br>
              <small><b>Dietary Restrictions:</b> {{user.DietaryRestrictions}}</small>
              <br>
              <small><b>Goals</b> {{user.Goals}} </small>
              <br>
          </div>
          <div class="column right" style="text-align: center">
              <h2>Saved Videos</h2>
                <div class="SavedVideoResults">
                    <p-carousel [value]="savedvideos" numVisible="3" headerText = "Saved Videos">
                        <ng-template pTemplate ="body" let-savedvideo>
                                <a routerLink = "/exercise-videos/{{savedvideo.VideoName}}"> {{savedvideo.VideoName}}
                                 </a> 
                        </ng-template>
                    </p-carousel>
                </div>
              <br>
              <h2>Forums</h2>
              <div class="SavedForumResults">
                  <p-carousel [value]="userForums" numVisible="3" headerText = "Forums">
                      <ng-template pTemplate ="body" let-userForum>
                              <a routerLink = "/mh-forums/{{userForum.NameOfForum}}"> {{userForum.NameOfForum}}
                               </a> 
                      </ng-template>
                  </p-carousel>
              </div>
          </div>
        </div>
        </div>
    </body>
</html>
