.Filter-Results {
    position: absolute;
    top: 200px;
    width: 200px;
}

.Search-Bar {
    position: absolute;
    top: 200px;
    left: 230px;
}

.Search-Button {
    position: absolute;
    top: 200px;
    left: 560px;
}

.Search-Results {
    position: absolute;
    top: 245px;
    left: 230px;
    width: 400px;
    height: 500px;
}