<div class="jumbotron jumbotron-fluid">
    <figure><img src="assets/image/heart.png" width="60" height="60" class="mx-auto d-block"></figure>
    <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>

<h2> Food Recipes </h2>

<div class="Filter-Results">
    <p-card header="Filter Results" subheader="Meal Type">
        <p-checkbox name="mealtype" value="breakfast" label="Breakfast" [(ngModel)]="breakfastValue" binary="true" (onChange)="breakfastQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="mealtype" value="lunch" label="Lunch" [(ngModel)]="lunchValue" binary="true" (onChange)="lunchQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="mealtype" value="dinner" label="Dinner" [(ngModel)]="dinnerValue" binary="true" (onChange)="dinnerQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="mealtype" value="snack" label="Snack" [(ngModel)]="snackValue" binary="true" (onChange)="snackQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="mealtype" value="drink" label="Drink" [(ngModel)]="drinkValue" binary="true" (onChange)="drinkQuery($event)"></p-checkbox>
        <br/>
        <br/>

        <font color="grey"><b>Diet</b></font>
        <br/>
        <br/>
        <p-checkbox name="diet" value="balanced" label="Balanced" [(ngModel)]="balancedValue" binary="true" (onChange)="balancedQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="diet" value="highprotein" label="High-Protein" [(ngModel)]="highProteinValue" binary="true" (onChange)="highProteinQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="diet" value="lowfat" label="Low-fat" [(ngModel)]="lowFatValue" binary="true" (onChange)="lowFatQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="diet" value="lowcarb" label="Low-carb" [(ngModel)]="lowCarbValue" binary="true" (onChange)="lowCarbQuery($event)"></p-checkbox>
        <br/>
        <br/>

        <font color="grey"><b>Health</b></font>
        <br/>
        <br/>
        <p-checkbox name="health" value="vegan" label="Vegan" [(ngModel)]="veganValue" binary="true" (onChange)="veganQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="health" value="vegetarian" label="Vegetarian" [(ngModel)]="vegetarianValue" binary="true" (onChange)="vegetarianQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="health" value="sugarconscious" label="Sugar-conscious" [(ngModel)]="sugarConsciousValue" binary="true" (onChange)="sugarConsciousQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="health" value="peanutfree" label="Peanut-free" [(ngModel)]="peanutFreeValue" binary="true" (onChange)="peanutFreeQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="health" value="treenutfree" label="Tree-nut-free" [(ngModel)]="treeNutFreeValue" binary="true" (onChange)="treeNutFreeQuery($event)"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="health" value="alcoholfree" label="Alcohol-free" [(ngModel)]="alcoholFreeValue" binary="true" (onChange)="alcoholFreeQuery($event)"></p-checkbox>
        <br/>
        <br/>

        <!--
        <font color="grey"><b>Additional</b></font>
        <br/>
        <br/>
        <p-checkbox name="additional" value="convenience" label="Convenience"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="additional" value="cost" label="Cost"></p-checkbox>
        <br/>
        <br/>
        <p-checkbox name="additional" value="ratings" label="Ratings"></p-checkbox>
        -->
    </p-card>
</div>

<div class="Search-Bar">
    <span class="ui-float-label">
        <!--<input id="float-input" type="text" size="83" [(ngModel)]="mealQuery" (keyup.enter)="recipesQuery(mealQuery)"> -->
        <p-autoComplete id="float-input" type="text" size="93" [(ngModel)]="mealQuery" (keyup.enter)="recipesQuery(mealQuery)" [(ngModel)]="text" [suggestions]="results" (completeMethod)="suggestions($event)"></p-autoComplete>
        <label *ngIf="mealQuery == null" for="float-input">Search For Recipes</label>
    </span>
</div>

<div class="Search-Button">
    <p-button label="Search" id="searchButton" (click)="recipesQuery(mealQuery)" style="display: none;"></p-button>
</div>

<div class="Search-Results">
    <!--
    <ng-container *ngIf="error == null">
        <li *ngFor="let res of searchResults">
            <br/>
            <font color="grey"><b> {{ res.recipeName }}</b></font>
            <br/>
            <a href="{{ res.articleURL }}">
                <img src="{{ res.imageURL }}">
            </a>
            <br/>
            <font color="grey"><b>Diet Labels: </b></font> {{ res.dietLabels }}
            <br/>
            <font color="grey"><b>Health Labels: </b></font> {{ res.healthLabels }}
            <br/>
            <br/>
        </li>
    </ng-container>
    <br>
    <p-toast *ngIf="error !== null" position="center">{{ error }}</p-toast>
    <br> -->

    <p-dataView [value]="searchResults" [loading]="loading" [paginator]="true" [rows]="5" paginatorPosition="both" [sortField]="sortField" [sortOrder]="sortOrder">
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-4">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'100px'}"></p-dropdown>
                    </div>
                </div>
            </div>
        </p-header>
        <ng-template let-res pTemplate="listItem">
            <div id="Search-row" style="padding: 0.1em;border-bottom: 1px solid #d9d9d9">
                <div>
                    <div>
                        <font color="grey"><b> {{ res.recipeName }}</b></font>
                    </div>
                    <div>
                        <a href="{{ res.articleURL }}">
                            <img src="{{ res.imageURL }}" height="180" width="220">
                        </a>
                    </div>
                </div>

                <div class="Search-Row-Info">
                    <div>
                        <font size="1.6">
                            <font color="grey"><b>Calories/Serving: </b></font> {{ res.calories }} &nbsp;
                            <font color="grey"><b>Daily %: </b></font> {{ res.totalDaily }} &nbsp;
                            <font color="grey"><b>Servings: </b></font> {{ res.servings }}

                        </font>
                    </div>
                    <div>
                        <font size="1.6">
                            <font color="grey"><b>Diet Labels: </b></font> {{ res.dietLabels }}
                        </font>
                    </div>
                    <div>
                        <font size="1.6">
                            <font color="grey"><b>Health Labels: </b></font> {{ res.healthLabels }}
                        </font>
                    </div>
                    <div>
                        <font size="1.6">
                            <font color="grey"><b>Ingredients: </b></font> {{ res.ingredients }}
                        </font>
                    </div>
                </div>
            </div>
            <div class="Nutrition-Fact">
                <p-dialog header="Nutrition Facts" [(visible)]="nutritionFacts" [modal]="true" [responsive]="true" [style]="{width: '450px', minWidth: '200px'}" [contentStyle]="{'max-height':'650px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
                    <!--
                    <p-orderList [value]="facts" [listStyle]="{'height':'250px'}">
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.brand}} - {{car.year}} - {{car.color}}</div>
                            </div>
                        </ng-template>
                    </p-orderList>
                    -->
                    <p-table [value]="nutrientsList">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 70%">Nutrition Facts (per serving)</th>
                                <th style="width: 30%">% Daily Value</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-nutri>
                            <tr>
                                <td>
                                    {{ nutri.vitamin }}
                                </td>
                                <td>
                                    {{ nutri.daily }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <br/>
                    <br/>
                    <p-table [value]="ingredientsList">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 100%">Ingredients</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-ingr>
                            <tr>
                                <td>
                                    <font color="grey"><b>Weight: </b></font> {{ ingr.weight }}g
                                    <br/>
                                    <font color="grey"><b>Ingredient: </b></font> {{ ingr.ingredient }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-dialog>
                <div class="Save">
                    <p-button *ngIf="loggedIn" label="Save Recipe" (click)="saveRecipe(res)"></p-button>
                    <p-button *ngIf="!loggedIn" label="Save Recipe" (click)="signInToSave()"></p-button>
                </div>
            </div>
            <div class="Nutrition-Facts">
                <p-button type="button" (click)="showNutritionFacts(res)" label="Nutrition Facts"></p-button>
            </div>
            <!--
            <div class="Save">
                <p-button *ngIf="loggedIn" label="Save Recipe" (click)="saveRecipe(res)"></p-button>
                <p-button *ngIf="!loggedIn" label="Save Recipe" (click)="signInToSave()"></p-button>
            </div>
            -->
        </ng-template>
        <div class="Save">
            <p-button *ngIf="loggedIn" label="Save Recipe" (click)="saveRecipe(res)"></p-button>
            <p-button *ngIf="!loggedIn" label="Save Recipe" (click)="signInToSave()"></p-button>
        </div>
    </p-dataView>
</div>

<div class="Trending-Recipes">
    <p-card header="Trending Recipes">
        <li *ngFor="let res of searchResults | slice:0:10; let i=index">
            <div>
                <a href="{{ res.articleURL }}">
                    <b>{{ i+1 }}. {{ res.recipeName }}</b>
                </a>
            </div>
            <br/>
        </li>
    </p-card>
</div>