.jumbotron {
    padding-top: 2%;
    padding-bottom: 3%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.Filter-Results {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 350px;
    width: 200px;
}

.Search-Bar {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 350px;
    left: 215px;
}

.Search-Button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 350px;
    left: 735px;
}

.Search-Results {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 395px;
    left: 215px;
    width: 700px;
}

.Search-Row-Info {
    position: relative;
    left: 235px;
    top: -185px;
    min-height: 180px;
    margin-bottom: -140px;
    margin-right: 235px;
}

.Nutrition-Facts {
    position: relative;
    left: 540px;
    top: -40px;
}

.Trending-Recipes {
    font-family: 'Quicksand', sans-serif;
    font-weight: 350;
    list-style: none;
    position: absolute;
    top: 350px;
    left: 930px;
    width: 250px;
}