<!DOCTYPE html>

<html>

<div class="jumbotron jumbotron-fluid">
    <figure><img src="assets/image/heart.png" width="60" height="60" class="mx-auto d-block"></figure>
    <h1 style="text-align:center" class="display-4">Health Goals</h1>
</div>

<h2> Food Blogs </h2>


<body>
    <!--
<div class="Filter-Results">
  <p>Current Top Food Blogs:</p>


  <ol>
    <li>Food52</li>
    <a href="https://food52.com/
" style="color:#000;">
      <figure><img src="assets/image/52.jpg" width="200" height="200">
        <p style="font-size: xx-small; width: 50px;">https://food52.com/
          <br>
      </figure>
    </a>
    <li>Serious Eats</li>
    <a href="http://www.seriouseats.com/
" style="color:#000;">
      <figure><img src="assets/image/srs.jpg" width="200" height="200">
        <p style="font-size: xx-small; width: 50px;">http://www.seriouseats.com/

          <br>
      </figure>
    </a>
    <li>Kitchn</li>
    <a href="https://www.thekitchn.com/" style="color:#000;">
      <figure><img src="assets/image/kitchn.jpg" width="200" height="200">
        <p style="font-size: xx-small; width: 50px;">https://www.thekitchn.com/
          <br>
      </figure>
    </a>
    <li>Minimalist Baker</li>
    <a href="https://minimalistbaker.com/" style="color:#000;">
      <figure><img src="assets/image/min.jpg" width="200" height="200">
        <p style="font-size: xx-small; width: 50px;">https://minimalistbaker.com/

          <br>
      </figure>
    </a>
    <li>Simply Recipes</li>
    <a href="http://www.simplyrecipes.com/" style="color:#000;">
      <figure><img src="assets/image/simple.jpg" width="200" height="200">
        <p style="font-size: xx-small; width: 50px;">http://www.simplyrecipes.com/
          <br>
      </figure>
    </a>
    <li>smitten kitchen</li>
    <a href="https://smittenkitchen.com/" style="color:#000;">
      <figure><img src="assets/image/smitten.jpg" width="200" height="200">
        <p style="font-size: xx-small; width: 50px;">https://smittenkitchen.com/

          <br>
      </figure>
    </a>
    <li>Pinch of Yum</li>
    <a href="https://pinchofyum.com/" style="color:#000;">
      <figure><img src="assets/image/pinch.jpg" width="200" height="200">
        <p style="font-size: xx-small; width: 50px;">https://pinchofyum.com/
          <br>
      </figure>
    </a>
    <li>Skinnytaste</li>
    <a href="https://www.skinnytaste.com/" style="color:#000;">
      <figure><img src="assets/image/skinny.jpg" width="200" height="200">
        <p style="font-size: xx-small; width: 50px;">https://www.skinnytaste.com/

          <br>
      </figure>
    </a>
  </ol>



</div>-->
    <!--
    <div class="Search-Bar">
        <span class="ui-float-label">
      <input id="float-input" type="text" size="83" [(ngModel)]="blogQuery" (keyup.enter)="foodBlogsQuery(blogQuery)"> 
      <label *ngIf="mealQuery == null" for="float-input">Search For Food Blogs</label>
  </span>
    </div>
-->
    <iframe src="https://ui.customsearch.ai/hosted-page?customconfig=cc8011fc-0a87-478d-b7e5-dcdc3eb169f7&version=latest&market=en-US&q=brownie" height="2000" width="1000"></iframe>

</body>

</html>